@import "@/common/styles/_variables.scss";

@media screen and (min-width: $breakpoint-s) {
    .wrapper-layout-with-side-menu {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .layout-titles-container {
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
    }

    .layout-title {
        p {
            font-size: small;
        }
    }
}

@media screen and (min-width: $breakpoint-m) {
    .layout-title {
        p {
            font-size: medium;
        }
    }
}