@import "@/common/styles/_variables.scss";

.container-wrapper, .container-wrapper-hover {
    background-color: $background-shade-3;
    width: fit-content;
    padding: 10px;
    float: left;
    border: 2px solid $font-color-primary;
}

.container-wrapper-hover {
    cursor: pointer;
    &:hover {
        background-color: $background-shade-4;
    }
}
