@import "@/common/styles/_variables.scss";

.container-wrapper, .container-wrapper-hover {
    background-color: $background-shade-2;
    width: fit-content;
    padding: 10px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-wrapper-hover {
    cursor: pointer;
    &:hover {
        background-color: $background-shade-4;
    }
}
