@import "@/common/styles/_variables.scss";

.sectionContainer {
  border-top: 2px solid $background-shade-1;
  padding: 50px 10px;
  scroll-margin-top: 50px;
  
  h1 {
    font-family: $font-family-secondary;
    text-align: center;
    color: $font-color-primary;
  }

  p {
    color: $font-color-secondary;
  }
}
