@import "@/common/styles/_variables.scss";

.item-icon {
    animation: roll 2s;
    margin-right: 5px;
}

.wrapper-arrow-items {
    align-items: center;
    justify-content: center;
}

.container-arrow-item, .container-arrow-item-active-always {
    display: flex;
    align-items: center;

    p {
        font-family: $font-family-secondary;
    }

    p:hover {
        color: $font-color-non-active;
    }
}

.container-arrow-item {
    color: $font-color-non-active;

    p {
        cursor: pointer;
    }
}

.container-arrow-item.active {
    p {
        color: $font-color-primary;
    }
}

@media screen and (min-width: $breakpoint-s) {
    .container-arrow-item, .container-arrow-item-active-always {
        p {
            font-size: $font-size-s;
        }
    }
    
}
