@import "@/common/styles/_variables.scss";

.header {
    h1 {
        font-size: 5rem;
        animation: slide 2s;
        font-family: $font-family-secondary;
    }

    p {
        font-size: $font-size-s;
    }
}

@media screen and (min-width: $breakpoint-s) {
    .header {
        h1 {
            font-size: 7rem;
        }

        p {
            font-size: $font-size-s;
        }
    }
}

@media screen and (min-width: $breakpoint-m) {
    .header {
        p, h3 {
            padding-left: 5px;
        }
        padding-left: 10rem;
    }
}