@import "@/common/styles/_variables.scss";

.wrapper-project-item {
    h2 {
        font-family: $font-family-secondary;
        margin: 20px 0 20px 0;
    }
}

.project-info-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin-bottom: 25px;
    max-width: fit-content;
}

.project-image {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.link-container {
    display: flex;
    flex-wrap: wrap;
}

.technologies-container {
    .technologies-list {
        display: flex;
        flex-wrap: wrap;
        line-height: 3px;
        margin: 15px 0 0 0;
    
        p {
            margin-right: 8px;
            font-family: $font-family-secondary;
        }
    }
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.my-role-container {
    .role {
        font-family: $font-family-secondary;
        line-height: 3px;
    }
}

@media screen and (min-width: $breakpoint-s) {
    .wrapper-project-item {
        h2 {
            margin: 0 0 25px 0;
        }
    }

    .project-info-container {
        grid-template-columns: auto auto;
    
        > .container-wrapper:first-child {
            grid-column: 1 / span 2;
        }
    
        > .container-wrapper:nth-child(2) {
            grid-column: 1;
        }
    
        > .container-wrapper:nth-child(3) {
            grid-column: 2;
        }
    }
}

@media screen and (min-width: $breakpoint-m) {
    .description-container {
        padding-right: 50px;
    }
}