@import "@/common/styles/_variables.scss";

#skills-section {
  
  #logos {
    margin: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    line-height: 0px;

    .logo {
      text-align: center;

      .icon {
        width: 60px;
        height: auto;
        color: $font-color-primary;
      }

      .logo-label {
        font-size: small;
        font-family: $font-family-secondary;
        margin-top: 15px;
      }
    }
  }
}


@media screen and (min-width: $breakpoint-m) {
  #skills-section {
  
    #logos {
      gap: 50px;
      margin: 50px 60px 0 60px;

      .logo {
        .icon {
          width: 80px;
          height: auto;
        }

        .logo-label {
          opacity: 0;
          font-size: medium;
          margin-top: 25px;
        }

        &:hover .logo-label {
          opacity: 1;
        }

        &:hover {
          .icon {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}