@import "@/common/styles/_variables.scss";

/* ! Navbar */
.nav-link:hover,
.nav-link a:hover {
  color: $font-color-link-hover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: $font-family-secondary;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: $background-shade-4;
  border-bottom: 0.5px solid black;
  padding: 0;
}

.navbar-collapse {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
}

.navbar-nav {
  display: flex;
  gap: 1rem; 
}

.nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-brand:hover {
  cursor: pointer;
}
