@import "@/common/styles/_variables.scss";

/* ! Navbar */
.nav-link:hover,
.nav-link a:hover {
  color: $font-color-non-active;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: $font-family-secondary;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: $background-shade-3;
  border-bottom: 0.5px solid $font-color-primary;
  padding: 0;
}

.navbar-collapse {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
}

.navbar-nav {
  display: flex;
  gap: 1rem; 
}

.nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  color: $font-color-secondary;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: $font-color-non-active;
}

.nav-link:focus,
.nav-link:active,
.nav-link:focus-visible {
  color: $font-color-secondary;
  outline: none;
  box-shadow: none;
}

.nav-link.active {
  color: $font-color-primary !important;
}

.nav-brand:hover {
  cursor: pointer;
}
