@import "@/common/styles/_variables.scss";

.wrapper-main-page {
    text-align: center;
    margin: 5% 0 20% 0;
    min-height: 100%;

    .first-row {
        #profile-picture {
            height: 200px;
            width: auto;
            border-radius: $border-radius-xl;
            margin-top: 30px;
            animation: fade 2s;
        }
    }

    #sections {
        margin-top: 10px;
    }
}

@media screen and (min-width: $breakpoint-s) {
    .wrapper-main-page {
        margin-bottom: 35%;

        .first-row {
            img {
                margin-top: 50px;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-m) {
    .wrapper-main-page {
        text-align: left;
        margin: 10% 0 20% 0;
        display: grid;
        grid-template-rows: min-content min-content;

        #profile-picture {
            height: 250px;
            width: auto;
            border-radius: $border-radius-xxl;
            margin: 0 auto;
        }

        .first-row {
            display: flex;
        }

        #sections {
            margin-top: 20%;
        }
    }
}