@import "@/common/styles/_variables.scss";

.wrapper-footer {
    background-color: $background-shade-3;
    border-top: 2px solid $font-color-primary;
    height: $footer-height-mobile;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-top: 12%;
}

.footer-links {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    color: $font-color-primary;

    .wrapper-link-with-icon, .wrapper-text-with-icon {
        padding: 10px;
    }
}

.footer-logo {
    padding: 10px;

    img {
        height: 50px;
        width: auto;
    }
}

.footer-texts {
    padding: 20px;
    color: $font-color-primary;
    
    h3 {
        font-family: $font-family-secondary;
    }
}

@media screen and (min-width: $breakpoint-s) {
    .wrapper-footer {
        display: flex;
        gap: 5%;
        height: $footer-height-tablet;
        padding-top: 0;
    }

    .footer-logo {
        img {
            height: 100px;
            width: auto;
        }
    }
}

@media screen and (min-width: $breakpoint-m) {
    .wrapper-footer {
        gap: 10%;
        height: $footer-height-desktop;
    }
}
