@import "@/common/styles/_variables.scss";

.wrapper-link-with-icon, .wrapper-text-with-icon {
    margin-right: 10px;
    display: flex;
    width: 100%;
    height: 100%;

    img {
        height: 25px;
        width: auto;
        margin-right: 5px;
    }

    a {
        color: $font-color-primary;
        text-decoration: none;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
            color: $font-color-non-active;
            cursor: pointer;
        }
    }

    #icon-container {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .icon-text {
        margin: 0;
        font-size: 18px;
        line-height: 1;
    }
}

.wrapper-link-with-icon {
    img {
        &:hover {
            opacity: 50%;
        }
    }
}
